# 팀원들에게 공유할 샘플 (GitHub에 올라감)
spring.datasource.url=jdbc:mysql://[서버DB주소]:3306/comment?serverTimezone=Asia/Seoul&useSSL=false
spring.datasource.username=[DB계정]
spring.datasource.password=[DB비밀번호]

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.open-in-view=false
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true